/* Header */

.header {
    
}

.header .header_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
    padding: 34px 25px;
    /* width: 100%; */
}

.logotype-box {
    max-height: 50px;
    max-width: 200px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-link {
    color: var(--disable-color);
    font-weight: 500;
}

.menu-link:hover {
    color: var(--main-color);
}

.actions_block {

}

.cart_box {
    padding: 8px;

    max-width: 46px;
    max-height: 46px;

    position: relative;

    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -16px;
    right: -16px;

    padding: 4px 8px;
    background-color: var(--main-color);

    color: #fff;
    font-size: 12px;

    border-radius: 100px;
}

.cart-icon-box {
    max-width: 38px;
    max-height: 30px;
}