:root {
    --main-color: #FE8C01;
    --main-black: #232323;
    --disable-color: #818282;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;

    font-family: 'Montserrat Alternates', sans-serif;
    transition: all .3s ease-in-out;
}

.container {
    max-width: 1650px;
    padding: 75px 20px;
    margin: 0 auto;

    /* width: 100%; */
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 64px;
    margin-bottom: 60px;
    color: var(--main-black);
    font-weight: 700;
}



/* Header */

.header {
    
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
    padding: 34px 25px;
    /* width: 100%; */
}

.logotype-box {
    max-height: 50px;
    max-width: 200px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-link {
    color: var(--disable-color);
    font-weight: 500;
}

.menu-link:hover {
    color: var(--main-color);
}

.actions_block {

}

.cart_box {
    padding: 8px;

    max-width: 46px;
    max-height: 46px;

    position: relative;

    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -16px;
    right: -16px;

    padding: 4px 8px;
    background-color: var(--main-color);

    color: #fff;
    font-size: 12px;

    border-radius: 100px;
}

.cart-icon-box {
    max-width: 38px;
    max-height: 30px;
}


/* Main Page */

/* Main-Block */

.main-block_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_text-content {
    max-width: 810px;

}

.main_text-content p:first-child {
    color: var(--main-color);
    font-weight: 500;
    margin-bottom: 20px;
}
.main_text-content p {
    color: var(--main-black);
    font-weight: 500;
    /* margin-bottom: 20px; */
}

.main_description {
    margin-bottom: 20px;
}

.main-headline {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.main-title {
    font-size: 156px;
    color: var(--main-black);

    line-height: 158px;
}


.main_text-content .action-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.button-style {
    border: none;
    outline: none;
    cursor: pointer;

    padding: 18px 80px;

    font-weight: 500;
    color: #fff;

    border-radius: 40px;

    background-color: var(--main-color);
    display: inline-block;
}

.action-box p {
    max-width: 228px;
    color: var(--disable-color);
    font-weight: 300;
}

.main_image-box {
    max-width: 640px;
    max-height: 640px;

    border-radius: 50%;
    border: 12px solid var(--main-color);
}


/* Наше меню */

.assortment {

}

.assortment h1 {
    text-align: center;
}

.assortment_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

}

.menu_collection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    /* flex-wrap: wrap; */

    margin-bottom: 90px;
}

.menu-item {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 250px;

    background-color: #e9f8fb;
    border-radius: 16px;
    padding: 14px;
}

.menu-item:hover {
    background-color: var(--main-color);
   
}

.menu-item:hover path {
    fill: #ededed;
}

.menu-item:hover p {
    color: #ededed;
}

.menu-img-box {
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 12px;

    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-name {
    font-weight: 700;
    font-size: 24px;
    color: var(--main-black);
}

.assortment_collection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    gap: 30px;
    width: 100%;

    margin-bottom: 60px;

}

.assortment-item {
    overflow: hidden;
    max-width: 390px;
    max-height: 390px;

    border-radius: 16px;

    position: relative;
    z-index: 1;
}

.assortment-header {
    position: absolute;
    /* left: 50%;
    transform: translateX(-50%); */
    left: 30px;
    right: 30px;

    bottom: 20px;
    z-index: 3;

    color: #fff;
}

.assortment-title {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 24px;
}

.assortment-header .main-description {
    font-weight: 600;
    margin-bottom: 12px;
}

.assortment-header .other-description {
    font-weight: 400;
    margin-bottom: 24px;
}

.assortment_action {
    font-weight: 700;
    text-align: center;
    font-size: 24px;

    cursor: pointer;
}

.assortment_action:hover {
    color: var(--main-color);
}


.assortment-img-box {
    height: 100%;
    width: 100%;
    position: relative;
}

.dark-effect {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.view-more {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    display: inline-block;
    background-color:#e9f8fb;
    color: var(--main-black);

    margin: 0 auto;
    text-align: center;
}

.view-more:hover {
    background-color: var(--main-color);
    color: #fff;
}